/* AboutUs.scss */
$primary-color: #145874;
$secondary-color: #00aaff;

.about-us-container {
  width: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */


/* Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Expertise Section */
.expertise {
  padding: 20px;
  

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;  /* Adjusted gap to a valid value */

    .tech-icon {
      flex: 1 1 calc(33.333% - 20px);  /* Keep the 3-column layout */
      max-width: 25%;
      box-sizing: border-box;
      text-align: center;
      background-color: #145874;
      background-size: cover;
     
      border-radius: 10px;
      transition: transform 0.3s, box-shadow 0.3s;
      height: 300px;  /* Set a default height for the card */
      padding:10px ;
      display: flex;
      align-items: center;
      flex-direction: column;

      .img-div {
        display: flex;
        align-items: center;
        border-radius: 50%;
        position: relative;
        padding: 20px;
        border: 1px solid;
        background-color: rgb(224, 209, 209);

        img {
          width: 70px;
          height: 70px;
          position: relative;
          z-index: 1;
          object-fit: contain;
        }
      }
      
      h3 {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 5px;
      }

      p {
        font-size: 0.9rem;
        padding: 3px 5px;
        color: #ffffff;
        
        line-height: 1.5;
        text-shadow:
          0px -2px 5px rgba(0, 0, 0, 1),
          
      }
    }

    .tech-icon:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    width: 80%;
    margin-bottom: 40px;
  }

  .tech-icons {
    flex-direction: column;
    align-items: center;
  }

  .tech-icon {
    width: 80%;
    height: 250px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .about-us-hero .hero-content h1 {
    font-size: 2.5rem;
  }

  .about-us-hero .hero-content p {
    font-size: 1.2rem;
  }

  .mission-vision p {
    font-size: 1rem;
  }

  .team-member {
    width: 90%;
  }

  .tech-icons {
    gap: 15px; /* Reduce gap for smaller devices */
  }

  .tech-icon {
    width: 90%;
    height: 220px; /* Further reduce height for mobile */
  }
}
