/* Tailwind base setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom root colors for dark/light themes */
:root {
  --scrollbar-thumb-color: #145874;
  --scrollbar-thumb-hover-color: #1c6f87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-thumb-color: #1c6f87;
    --scrollbar-thumb-hover-color: #2e7e9e;
  }
}

/* Global body styles */
body {
  margin: 0;
  padding: 0;
  /* background:linear-gradient(90deg, #cdcccb 50%, #000000 50%); */
  /* background-blend-mode: multiply; Optional for blending */
  min-height: 100vh;
  overflow-y: scroll; /* Ensure scroll is enabled */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 9px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* rounded edges */
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color); /* base thumb color */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color); /* hover color */
}

/* Adding animation to the scrollbar thumb */
@keyframes scrollbarPulse {
  0% {
    background-color: var(--scrollbar-thumb-color);
    transform: scale(1);
  }
  50% {
    background-color: var(--scrollbar-thumb-hover-color);
    transform: scale(1.1);
  }
  100% {
    background-color: var(--scrollbar-thumb-color);
    transform: scale(1);
  }
}